<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-idnow" version="0.0.1">
    <name>IdNowPlugin</name>

    <description>An Android and iOS Cordova plugin for IdNow.</description>
    <license>MIT</license>

    <keywords>idnow,cordova,android</keywords>
    <repo>https://github.com/enterprise-touch/cordova-plugin-idnow.git</repo>
    <issue>https://github.com/enterprise-touch/cordova-plugin-idnow/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/idnow.js" name="idnow">
        <clobbers target="window.plugins.idnow" />
    </js-module>
    <platform name="android">
        

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SmsUserPlugin">
                <param name="android-package" value="com.cordova.plugin.SmsUserPlugin"/>
            </feature>
        </config-file>
      
        
        <framework src="src/android/sms_consent.gradle" custom="true" type="gradleReference"/>

        <source-file src="src/android/SmsUserConsentPlugin.java" target-dir="src/com/cordova/plugin" />
              
    </platform>
</plugin>
