<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-sms" version="0.0.1">
    <name>IdNowPlugin</name>

    <description>An Android  Cordova plugin for SMS consent api .</description>
    <license>MIT</license>

    <keywords>idnow,cordova,android</keywords>
    <repo>https://github.com/vviek/cordova-plugin-sms.git</repo>
    <issue>https://github.com/vviek/cordova-plugin-sms/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/sms_user_consent.js" name="sms_user_consent">
        <clobbers target="window.plugins.sms_user_consent" />
    </js-module>
    <platform name="android">
        
<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="com.cordova.plugin.SmsBroadcastReceiver" android:enabled="true" android:exported="true"/>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SmsUserConsentPlugin">
                <param name="android-package" value="com.cordova.plugin.SmsUserConsentPlugin"/>
            </feature>
        </config-file>

        <framework src="src/android/sms_consent.gradle" custom="true" type="gradleReference"/>

        <source-file src="src/android/SmsUserConsentPlugin.java" target-dir="src/com/cordova/plugin" />
        <source-file src="src/android/SmsBroadcastReceiver.java" target-dir="src/com/cordova/plugin" />
              
    </platform>
</plugin>
